{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/header.html' %}
    <main>
        <div class="main-container">
            <div class="faixa-row">
                <h1>Projetos</h1>
            </div>
            <div class="conteudo">
                <h2>Projeto 1</h2>
            </div>
            <div class="conteudo">
                <h2>Projeto 2</h2>
            </div>
            <div class="conteudo">
                <h2>Projeto 3</h2>
            </div>
            <div class="conteudo">
                <h2>Projeto 45</h2>
            </div>





        </div>
        {% include 'partials/footer.html' %}
    </main>
</body>

</html>

{% endblock %}